<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pishkhan_LifeInsurance</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    @RenderSection("Styles", required: false)
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Pishkhan_LifeInsurance</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        
                        <li class="dropdown">
                            <a class="dropdown-toggle"  data-toggle="dropdown" href="#">بیمه نامه های عمر <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/LifeInsurance/Add">ثبت بیمه نامه جدید</a></li>
                                <li><a href="/LifeInsurance/List">لیست بیمه نامه های عمر</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">مدیریت کاربران <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Account/Register">ثبت نماینده</a></li>
                                <li><a href="/Users/AgentListAsync">لیست نمایندگان</a></li>
                                <li class="divider"></li>
                                <li><a href="/Users/AddSupervisior">ثبت زیرگروه</a></li>
                                <li><a href="/Users/SupervisiorListAsync">لیست زیرگروه ها</a></li>
                                <li class="divider"></li>
                                <li><a href="/Users/AddPishkhan">ثبت دفاتر پیشخوان</a></li>
                                <li><a href="/Users/PishkhanListAsync">لیست دفاتر پیشخوان</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">مالی <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Financial/UploadExcel">بارگذاری فایل اکسل</a></li>
                                <li class="divider"></li>
                                <li><a href="/Financial/ImportWage">ثبت کارمزد</a></li>
                                <li><a href="/Financial/DeleteWage">حذف کارمزد</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">گزارشات <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Report/InsuranceReport">گزارش کارمزد بیمه نامه های صادره</a></li>
                                <li class="divider"></li>
                                <li><a href="/Report/AgentReport">گزارش کارمزد نماینده</a></li>
                                <li class="divider"></li>
                                <li><a href="/Report/PishkhanReport">گزارش کارمزد دفاتر پیشخوان</a></li>
                                <li><a href="/Report/SubgroupReport">گزارش کارمزد زیرگروه ها</a></li>
                            </ul>
                        </li>

                        <li class="active"><a asp-area="" asp-controller="Setting" asp-action="Index">تنظیمات</a></li>
                    </ul>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </nav>
        }
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - payam.bakhshzadeh@gmail.com</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
