@model Pishkhan_LifeInsurance.Data.DataBase.TblPishkhan
@{
    ViewData["Title"] = "AddPishkhan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>دفاتر پیشخوان</h2>
<h4>ایجاد دفتر پیشخوان جدید</h4>
<hr />
<div class="row">
    @if (ViewBag.pm == "ok")
    {
        <div id="pm" class="bg-success text-center"><i class="text-primary">اطلاعات با موفقیت ثبت گردید</i></div>
    }

    <div class="col-md-4">
        <form asp-action="AddPishkhan">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" onchange="hidePm()" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pishkhan_Code" class="control-label"></label>
                <input asp-for="Pishkhan_Code" class="form-control" onchange="hidePm()"/>
                <span asp-validation-for="Pishkhan_Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-controller="Home" asp-action="Index">بازگشت به صفحه اصلی</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/AddPishkhanJavaScript.js"></script>
}
